<div class="box mb-0 context-container" id="context">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-end is-align-items-center is-justify-content-space-between">

                <div class="navbar-item">
                    <div id="search-control" class="control has-icons-right search-control is-hidden-desktop">
                        <form action="{{ "search/" | absURL }}" method="GET">
                            <input
                                class="input is-small"
                                type="search"
                                id="search-query"
                                name="q"
                                placeholder="Search"
                            />
                            <span class="icon is-right">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-start">
                    {{- range site.Menus.main }}
                        <a
                            href="{{ .URL | absURL }}"
                            class="navbar-item has-text-weight-semibold is-size-7"
                        >
                            {{ .Name }}
                        </a>
                    {{- end }}
                </div>
                <div class="navbar-end is-hidden-mobile is-hidden-tablet-only">
                    <div class="navbar-item">
                        <div id="search-control" class="control has-icons-right search-control">
                            <form action="{{ "search/" | absURL }}" method="GET">
                                <input
                                    class="input is-small"
                                    type="search"
                                    id="search-query"
                                    name="q"
                                    placeholder="Search"
                                />
                                <span class="icon is-right">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </nav>
    </div>
</div>
