{{ $isLocal := (or (eq .Site.BaseURL "/") (strings.Contains .Site.BaseURL "localhost")) }}
{{ $locationPrefix := .Site.Params.uniNavHeaderLocationPrefix }}


<qg-top-nav
    breakpoint="1024"
    class="is-highest navbar is-fixed-top"
    location-prefix="{{ $locationPrefix }}"
    logo-icon="https://qgis.org/funders/qgis-usergroup-switzerland.png"
    logo-link="/"
    second-menu-prefix="https://usergroup.qgis.org"
    secondary-menu-config="https://raw.githubusercontent.com/qgis/QGIS-User-Group-Website/main/static/config/navigation.json"
></qg-top-nav>
