{{/* Initialize variables */}}
{{ $allSponsors := slice }}
{{ $logoPath := absURL "sponsors/" }}
{{ $type := .Get "type" }}
{{ $headlessbundle := .Site.GetPage "/sponsors-data" }}
{{ $allSponsors = ( $headlessbundle.Resources.Match "*.md" ) }}

{{ with .Get "relativeImgPath" }}{{ $logoPath = "" }}{{ end }}

{{/* Define sponsor level configurations */}}
{{ $levelConfigs := dict 
    "organizers" (dict 
        "level" "Organizer"
        "itemsPerRow" 4
        "notificationClass" "organizers"
    )
    "co-organizers" (dict 
        "level" "Co-organizer"
        "itemsPerRow" 5
        "notificationClass" "organizers"
    )
    "sponsors" (dict
        "levels" (slice 
            (dict "name" "Platinum" "class" "fund-flagship" "perRow" 3)
            (dict "name" "Gold" "class" "fund-large" "perRow" 3)
            (dict "name" "Silver" "class" "fund-medium" "perRow" 4)
            (dict "name" "Bronze" "class" "fund-small" "perRow" 5)
            (dict "name" "Supporters" "class" "fund-small" "perRow" 5)
        )
    )
}}

{{/* Main rendering function */}}
{{ define "renderSponsors" }}
    {{ $params := .params }}
    {{ $sponsors := .sponsors }}
    {{ $logoPath := .logoPath }}
    {{ $itemsPerRow := .itemsPerRow }}
    {{ $notificationClass := .notificationClass }}
    {{ $showTitle := .showTitle | default false }}
    {{ $title := .title | default "" }}

    {{ with $sponsors }}
        {{ if $showTitle }}<h3 class="subtitle">{{ $title }}</h3>{{ end }}
        <div class="tile is-ancestor is-vertical funders">
            <div class="tile">
                {{ $counter := 0 }}
                {{ range $index, $sponsor := . }}
                    {{ $counter = add $counter 1 }}
                    {{ if and (gt $counter 1) (eq (mod $counter $itemsPerRow) 1) }}
                        </div><div class="tile">
                    {{ end }}
                    <div class="tile is-parent"> 
                        <article class="tile is-child box notification {{ $notificationClass }}">
                            <a href="{{ $sponsor.Params.link }}">
                                <figure>
                                    <img src="{{ $logoPath }}{{ $sponsor.Params.logo }}" alt="{{ $sponsor.Params.title }}">
                                </figure>
                                <h3 class="title is-5">{{ $sponsor.Params.title }}</h3>
                            </a>
                        </article>
                    </div>
                {{ end }}
            </div>
        </div>
    {{ end }}
{{ end }}

{{/* Render based on type */}}
{{ if or (eq $type "organizers") (eq $type "co-organizers") }}
    {{ $config := index $levelConfigs $type }}
    {{ $sponsors := where $allSponsors "Params.level" $config.level }}
    
    {{ template "renderSponsors" (dict 
        "params" $ 
        "sponsors" $sponsors 
        "logoPath" $logoPath
        "itemsPerRow" $config.itemsPerRow
        "notificationClass" $config.notificationClass
    ) }}
{{ else if eq $type "sponsors" }}
    {{ range $level := index $levelConfigs "sponsors" "levels" }}
        {{ $sponsors := where $allSponsors "Params.level" $level.name }}
        
        {{ template "renderSponsors" (dict 
            "params" $ 
            "sponsors" $sponsors 
            "logoPath" $logoPath
            "itemsPerRow" $level.perRow
            "notificationClass" $level.class
            "showTitle" true
            "title" $level.name
        ) }}
    {{ end }}
{{ end }}