{{/* Initialize variables */}}
{{ $headlessbundle := .Site.GetPage "/sponsors-data" }}
{{ $allSponsors := $headlessbundle.Resources.Match "*.md" }}
{{ $baseURL := .Site.BaseURL }}

{{/* Define sponsor level configurations */}}
{{ $levelConfigs := dict
    "organizers" (dict
    "title" "Organizers and Co-organizers"
    "levels" (slice "Organizer" "Co-organizer")
    "class" "fund-Organizer"
    "titleFormat" ""
    )
    "sponsors" (dict
    "title" "Sponsors"
    "levels" (slice
    (dict "name" "Platinum" "class" "fund-Flagship" "titleFormat" "Platinum sponsor")
    (dict "name" "Gold" "class" "fund-Large" "titleFormat" "Gold sponsor")
    (dict "name" "Silver" "class" "fund-Medium" "titleFormat" "Silver sponsor")
    (dict "name" "Bronze" "class" "" "titleFormat" "Bronze sponsor")
    (dict "name" "Supporters" "class" "" "titleFormat" "Supporter")
    )
    )
    }}

{{/* Main rendering function */}}
{{ define "renderSponsorGroup" }}
    {{ $params := .params }}
    {{ $config := .config }}
    {{ $allSponsors := .allSponsors }}
    {{ $baseURL := .baseURL }}


    <div class="container mb-5">
        <div class="pb-2">
            <h3 class="subtitle">{{ $config.title }}</h3>
        </div>
        <div class="supporters-grid large-grid">
            {{/* Special case: Add sponsor button */}}
            {{ if eq $config.title "Sponsors" }}
                <div
                    class="large-supporter is-vertical is-flex fund-Flagship add-supporter"
                >
                    <a href="{{ absURL "sponsors/#become-a-sponsor" }}">
                        <article
                            class="tile is-child box is-transparent is-flex is-justify-content-center is-align-items-center"
                        >
                            <figure>
                                <img
                                    src="{{ absURL "img/addsupporter.svg" }}"
                                    loading="lazy"
                                    alt="add supporter"
                                />
                            </figure>
                        </article>
                        <span class="partner-title">Add your logo here?</span>
                    </a>
                </div>
            {{ end }}

            {{/* Render sponsors for each level */}}
            {{ range $level := $config.levels }}
                {{ $levelName := "" }}
                {{ $levelClass := "" }}
                {{ $titleFormat := "" }}

                {{ if eq (printf "%T" $level) "string" }}
                    {{ $levelName = $level }}
                    {{ $levelClass = $config.class }}
                    {{ $titleFormat = $level }}
                {{ else }}
                    {{ $levelName = $level.name }}
                    {{ $levelClass = $level.class }}
                    {{ $titleFormat = $level.titleFormat }}
                {{ end }}

                {{ range $sponsor := $allSponsors }}
                    {{ if eq $sponsor.Params.level $levelName }}
                        <div
                            class="large-supporter is-vertical is-flex {{ $levelClass }}"
                        >
                            <article
                                class="tile is-child box is-transparent is-flex is-justify-content-center is-align-items-center"
                            >
                                <a href="{{ $sponsor.Params.link }}">
                                    <figure>
                                        <img
                                            src="{{ $baseURL }}sponsors/{{ $sponsor.Params.logo }}"
                                            alt="{{ $sponsor.Params.title }}"
                                            {{ if eq (path.Ext $sponsor.Params.logo | lower) ".svg" }}
                                                width="165px"
                                            {{ end }}
                                            loading="lazy"
                                        />
                                    </figure>
                                </a>
                            </article>
                            <p class="partner-title">
                                {{ if $titleFormat }}
                                    {{ $titleFormat }}
                                {{ else }}
                                    {{ $sponsor.Params.level }}
                                {{ end }}
                            </p>
                            <br />
                        </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
{{ end }}

{{/* Render all sponsor groups */}}
{{ range $group, $config := $levelConfigs }}
    {{ template "renderSponsorGroup" (dict
        "params" $
        "config" $config
        "allSponsors" $allSponsors
        "baseURL" $baseURL
        )
    }}
{{ end }}
